grafana:
  adminPassword: "${GRAFANA_ADMIN_PASSWORD}"
  ingress:
    enabled: false
  persistence:
    enabled: true
    size: 10Gi
  
  initChownData:
    enabled: true
    image:
      repository: busybox
      tag: "1.31.1"
      pullPolicy: IfNotPresent
    resources: {}

  additionalDataSources:
    - name: Loki
      type: loki
      url: http://loki:3100 
      access: proxy
      isDefault: false 

prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi

alertmanager:
  enabled: false