grafana:
  adminPassword: "${GRAFANA_ADMIN_PASSWORD}"
  ingress:
    enabled: false
  persistence:
    enabled: true
    size: 10Gi

  initChownData:
    enabled: false
  
  securityContext:
    runAsUser: 472
    runAsGroup: 472
    fsGroup: 472

  sidecar:
    datasources:
      enabled: true
      defaultDatasourceEnabled: true

  additionalDataSources:
    - name: Loki
      type: loki
      url: http://loki:3100 
      access: proxy
      isDefault: false 

prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi

alertmanager:
  enabled: false