node_modules
.next
.turbo
dist
build
coverage
.git
.gitignore
.env*
!.env.example
*.md
.DS_Store
.vscode
.idea
mosquitto/data
mosquitto/log
apps/*/dist
apps/*/.next
apps/*/node_modules
packages/*/dist
packages/*/node_modules
