{
    email {$ACME_EMAIL}
}

{$FRONTEND_DOMAIN} {
    reverse_proxy frontend:3000
}

{$BACKEND_DOMAIN} {
    reverse_proxy backend:3000
}

{$MONITORING_DOMAIN} {
    basicauth /prometheus/* {
        {$MONITORING_USER} {$MONITORING_HASH}
    }

    reverse_proxy /prometheus/* prometheus:9090
    reverse_proxy /grafana/* grafana:3000
}
