apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: scale-app
data:
  NODE_ENV: "production"
  DB_USER: "${DB_USER}" # Envsubst też to podmieni
  DB_NAME: "${DB_NAME}"
  DB_HOST: "timescaledb"
  REDIS_HOST: "redis"
  NEXT_PUBLIC_API_URL: "https://${BACKEND_DOMAIN}"
  NEXT_PUBLIC_WS_URL: "wss://${BACKEND_DOMAIN}"
  BETTER_AUTH_URL: "https://${BACKEND_DOMAIN}/api/auth"
  CORS_ORIGIN: "https://${FRONTEND_DOMAIN}"

---
# Konfiguracja Mosquitto
apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto-config
  namespace: scale-app
data:
  mosquitto.conf: |
    persistance true
    persistence_location /mosquitto/data/
    log_dest stdout
    listener 1883
    listener 9001
    protocol websockets
    allow_anonymous false
    password_file /mosquitto/config/password.txt
  password.txt: |
    ${MQTT_USERNAME}:${MQTT_PASSWORD_HASH} 
    # UWAGA: Mosquitto wymaga hasha w pliku. 
    # Jeśli trzymasz plain text w secrets, musisz obsłużyć generowanie hasha w CI/CD 
    # lub zmienić allow_anonymous na true (niezalecane).
